@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* width: 100vh; */
}

#app {
  min-width: 100vh;
  min-height: 100vh;
  /* margin: 0 auto; */
  padding: 0;
  /* text-align: center; */
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #dedfe1;
  border-radius: 10px;
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 201, 204);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
